/*mobile styling*/
/*@media only screen and (min-width: 300px) and (max-width: 414px) and (max-device-width : 414px) {*/
/*(max-device-width : 414px) and (orientation: portrait)*/
@media (max-width: 414px) , screen and (max-device-width : 414px){
    .header{
    	padding:  18px 16px;
    }
    .pdnone{
    	padding: 0 24px;
    }
    .webmenu{
		display: none;
	}
	.mobilemenu{
		display: block;
	}
	.mobile-no-need{
		display: none;
	}
	.mobile-need{
		display: block;
	}
	.mobile-abt{
		display: block;
	}
	.fcom{
		margin-top: 16px;
	}
	.csimgcontainer{
		width: 95%;
		margin: 0px 2.5%; 
	}
}