.bg-burgermenu {
    width: 16px; height: 12px;
    background: url('./images/css_sprites.png') -10px -10px;
}

.bg-closequote {
    width: 18px; height: 15px;
    background: url('./images/css_sprites.png') -10px -74px;
}

.bg-cross {
    width: 24px; height: 24px;
    background: url('./images/css_sprites.png') -10px -256px;
}

.bg-downloadcv {
    width: 16px; height: 16px;
    background: url('./images/css_sprites.png') -10px -144px;
}

.bg-downloadcv0 {
    width: 140px; height: 44px;
    background: url('./images/css_sprites.png') -10px -700px;
}

.bg-downloadcv1 {
    width: 140px; height: 44px;
    background: url('./images/css_sprites.png') -10px -764px;
}

.bg-dribble {
    width: 25px; height: 24px;
    background: url('./images/css_sprites.png') -10px -300px;
}

.bg-dribble1 {
    width: 25px; height: 24px;
    background: url('./images/css_sprites.png') -10px -344px;
}

.bg-email {
    width: 19px; height: 18px;
    background: url('./images/css_sprites.png') -10px -180px;
}

.bg-facebook {
    width: 25px; height: 24px;
    background: url('./images/css_sprites.png') -10px -388px;
}

.bg-facebook1 {
    width: 25px; height: 24px;
    background: url('./images/css_sprites.png') -10px -432px;
}

.bg-insta {
    width: 25px; height: 24px;
    background: url('./images/css_sprites.png') -10px -476px;
}

.bg-insta1 {
    width: 25px; height: 24px;
    background: url('./images/css_sprites.png') -10px -520px;
}

.bg-linkedin {
    width: 25px; height: 24px;
    background: url('./images/css_sprites.png') -10px -564px;
}

.bg-linkedin1 {
    width: 25px; height: 24px;
    background: url('./images/css_sprites.png') -10px -608px;
}

.bg-name {
    width: 149px; height: 28px;
    background: url('./images/css_sprites.png') -10px -652px;
}

.bg-openquote {
    width: 18px; height: 15px;
    background: url('./images/css_sprites.png') -10px -109px;
}

.bg-phone {
    width: 19px; height: 18px;
    background: url('./images/css_sprites.png') -10px -218px;
}

.bg-placeholder {
    width: 960px; height: 400px;
    background: url('./images/css_sprites.png') -10px -828px;
}

.bg-rightarrow {
    width: 16px; height: 12px;
    background: url('./images/css_sprites.png') -10px -42px;
}